.social {
	display: flex;
	width: 72px;
	height: 72px;
	padding: 20px;
	background-color: var(--bg-icons);
	border-radius: 16px;
	box-shadow: -2px -2px 10px 0px rgba(59, 59, 59, 0.25) inset,
		2px 2px 10px 0px rgba(59, 59, 59, 0.25) inset;
	cursor: pointer;
	transition: all 0.5s ease;

	&-phone {
		&:hover {
			border-radius: 16px;
			background: #edd2a9;
			box-shadow: -2px -2px 10px 0px rgba(92, 85, 63, 0.45) inset,
				2px 2px 10px 0px rgba(92, 85, 63, 0.45) inset;
		}

		&:active {
			border-radius: 16px;
			background: #edd2a9;
			box-shadow: 2px 2px 10px 0px rgba(92, 85, 63, 0.25) inset,
				2px 2px 10px 0px rgba(92, 85, 63, 0.25) inset;
		}
	}

	&-tg {
		img {
			width: 32px;
			height: 32px;
		}
		&:hover {
			border-radius: 16px;
			background: #aad0ea;
			box-shadow: -2px -2px 10px 0px rgba(36, 38, 56, 0.45) inset,
				2px 2px 10px 0px rgba(36, 38, 56, 0.45) inset;
		}

		&:active {
			border-radius: 16px;
			background: #aad0ea;
			box-shadow: 2px 2px 10px 0px rgba(36, 38, 56, 0.25) inset,
				2px 2px 10px 0px rgba(36, 38, 56, 0.25) inset;
		}
	}

	&-wa {
		&:hover {
			border-radius: 16px;
			background: #b9e2b3;
			box-shadow: -2px -2px 10px 0px rgba(43, 64, 44, 0.25) inset,
				2px 2px 10px 0px rgba(43, 64, 44, 0.45) inset;
		}
	}

	&:active {
		border-radius: 16px;
		background: #b9e2b3;
		box-shadow: 2px 2px 10px 0px rgba(43, 64, 44, 0.25) inset,
			2px 2px 10px 0px rgba(43, 64, 44, 0.25) inset;
	}

	&-mail {
		&:hover {
			border-radius: 16px;
			background: #f3e9b0;
			box-shadow: -2px -2px 10px 0px rgba(64, 57, 40, 0.45) inset,
				2px 2px 10px 0px rgba(64, 57, 40, 0.45) inset;
		}

		&:active {
			border-radius: 16px;
			background: #f3e9b0;
			box-shadow: 2px 2px 10px 0px rgba(64, 57, 40, 0.25) inset,
				2px 2px 10px 0px rgba(64, 57, 40, 0.25) inset;
		}
	}

	&-inst {
		&:hover {
			background: #f5b2d2;
			box-shadow: -2px -2px 10px 0px rgba(67, 42, 68, 0.45) inset,
				2px 2px 10px 0px rgba(67, 42, 68, 0.45) inset;
		}

		&:active {
			background: #f5b2d2;
			box-shadow: 2px 2px 10px 0px rgba(67, 42, 68, 0.25) inset,
				2px 2px 10px 0px rgba(67, 42, 68, 0.25) inset;
		}
	}

	&-vk {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 44px;
			height: 26px;
		}
		&:hover {
			background: #c8d0f6;
			box-shadow: -2px -2px 10px 0px rgba(42, 43, 66, 0.45) inset,
				2px 2px 10px 0px rgba(42, 43, 66, 0.45) inset;
		}

		&:active {
			background: #c8d0f6;
			box-shadow: 2px 2px 10px 0px rgba(42, 43, 66, 0.25) inset,
				2px 2px 10px 0px rgba(42, 43, 66, 0.25) inset;
		}
	}
}

.socials {
	display: flex;
	align-items: center;
	gap: 24px;
}

@media (max-width: 980px) {
	.social {
		width: 56px;
		height: 56px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 24px;
			height: 24px;
		}

		&-vk {
			img {
				width: 34px;
				height: 100%;
			}
		}
	}
}
