:root {
	--title-color: #000;
	--text-color: #3a3839;
	--bg-color: #232221;
	--bg-block: #3b3b3b;
	--bg-icons: #f7fdfb;
	--text-white: #f7fdfb;
	--bg-green: #2c3b2e;

	--temno--korichnevyy: #232221;
	--korichnevyy: #3b3b3b;
	--zelenyy: #2c3b2e;
	--svetlyy: #f7fdfb;
	--seryy: #afafaf;
	--krasnyy-oshibka: #eb394f;

	--font-family: 'Akrobat', sans-serif;
	--second-family: 'Anticva', sans-serif;
	--third-family: 'Gilroy', sans-serif;
	--font3: 'Roboto', sans-serif;
	--font4: 'Do Hyeon', sans-serif;
	--font5: 'Lato', sans-serif;
	--font6: 'Arial Black', sans-serif;
	--font7: 'Murecho', sans-serif;
	--font8: 'STIX Two Text', sans-serif;
	--font9: 'Junegull', sans-serif;
	--font10: 'Belarus', sans-serif;
	--font11: 'dance', sans-serif;
	--font12: 'Mirra Auriolic', sans-serif;
}
